# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=

# Supabase
DATABASE_URL=


# LangSmith
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Paths
BM25_INDEX_PATH=

GOOGLE_API_KEY=

OPENROUTER_API_KEY=

MAX_PDF_PAGES=