# requirements.txt

# LangChain
langchain
langchain-core
langchain-openai
langchain-postgres
langchain-text-splitters
langchain-community

# Vector store
pgvector
psycopg[binary]
sqlalchemy

# PDF parsing
pymupdf

# Document parsing
python-docx
python-pptx

# Sparse search
rank-bm25


# API
fastapi
uvicorn
python-multipart
slowapi
apscheduler

# Observability
langsmith

# LLM providers
openai
cohere

# Utils
python-dotenv
numpy
tiktoken
aiofiles