# requirements.txt
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers[onnx]

# LangChain
langchain
langchain-core
langchain-openai
langchain-postgres
langchain-text-splitters
langchain-community

# Vector store
pgvector
psycopg[binary]
sqlalchemy

# PDF parsing
pymupdf

# Document parsing
python-docx
python-pptx

# Sparse search
rank-bm25

# Reranking
#sentence-transformers[onnx]
optimum-onnx
# API
fastapi
uvicorn
python-multipart
slowapi
apscheduler

# Observability
langsmith

# LLM providers
openai

# Utils
python-dotenv
numpy
tiktoken
aiofiles